<footer class="footer-bs">
    <div class="row">
        <div class="col-md-4 footer-brand">
            <img class="img-logo img-responsive"
                 [src]="imgLogo"
                 (click)="_clickLogo()">
            <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies.
                Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque
                ex mi ut sem.</p>
            <p>© 2018 BS3 UI Kit, All rights reserved</p>
        </div>
        <div class="col-md-4 footer-nav">
            <div class="col-md-6">
                <ul class="list">
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Contatos</a></li>
                    <li><a href="#">Termos e condições</a></li>
                    <li><a href="#">Politica de privacidade</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social">
            <h4>Siga-nos</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="col-md-2 footer-ns">
            <h4>License</h4>
            <p>Desenvolvido por Jullierme Barros</p>
        </div>
    </div>
</footer>


