@import '~@angular/material/theming';
@import '../../../../theming';

.fly-controlbar {
    border: 1px solid mat-color($candy-app-primary, 500);
    border-left: 6px solid mat-color($candy-app-primary, 500);
    border-right: 6px solid mat-color($candy-app-primary, 500);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFF;
}
