<form novalidate #flyForm="ngForm"
      class="fly-form">
    <div *ngIf="!isDefaultValuesAvalilable">
        Carregando...
    </div>

    <div *ngIf="isDefaultValuesAvalilable">
        <div class="row fly-crud-row-header" >
            <div class="col-md-12">
                <h4 class="fly-header">
                    <i class="fa fa-wpforms" style="margin-right: 5px"></i>
                    <span class="fly-header-effect">
                        {{ header }}
                    </span>

                    <button mat-fab color="accent"
                            (click)="service.goToSearch()"
                            class="float-right"
                            type="button"
                            *ngIf="!service.isPopup"
                            tabindex="-1"
                            style="margin-top:-18px">
                        <mat-icon aria-label="Search"
                                  fontSet="fa"
                                  fontIcon="fa-search"></mat-icon>
                    </button>

                    <button mat-icon-button
                            (click)="service.closePopup()"
                            class="float-right"
                            type="button"
                            *ngIf="service.isPopup"
                            tabindex="-1">
                        <i class="fa fa-times fa-2x"></i>
                    </button>
                </h4>
            </div>
        </div>
        <ng-content select="[body]">
        </ng-content>


        <!--form.form.valid {{ flyForm.form.valid }}

        form.valid {{ flyForm.valid }}-->


        <div class="row">
            <div class="col-md-12 fly-controlbar-crud">
                <button mat-raised-button
                        (click)="service.$crudSave(false, true)"
                        color="primary"
                        type="button"
                        [disabled]="isDisabledButtons() || !flyForm.form.valid"
                        *ngIf="service.isPopup"
                        class="fly-btn-crud-save-clean">
                    {{ labelSaveButton }} {{ labelSaveAndCleanButton }}
                </button>

                <button mat-raised-button
                        (click)="service.$crudSave(true)"
                        color="primary"
                        type="button"
                        [disabled]="isDisabledButtons() || !flyForm.form.valid"
                        *ngIf="service.isPopup"
                        class="fly-btn-crud-save-exit">
                    {{ labelSaveButton }} {{ labelSaveAndCloseButton }}
                </button>

                <button mat-raised-button
                        (click)="service.$crudSave()"
                        color="primary"
                        type="submit"
                        [disabled]="isDisabledButtons() || !flyForm.form.valid">
                    {{ labelSaveButton }}
                </button>

                <button mat-raised-button
                        (click)="service.clean()"
                        [disabled]="isDisabledButtons()"
                        type="reset">
                    {{ labelResetButton }}
                </button>

                <button mat-raised-button
                        (click)="service.$crudRemove()"
                        [disabled]="!service.entity.id || isDisabledButtons()"
                        color="warn"
                        type="button">
                    {{ labelRemoveButton }}
                </button>

                <!--<span class="float-right"
                      *ngIf="!!service.entity.id">
                    Version: {{ service.entity.version }}
                </span>-->
            </div>
        </div>
        <mat-progress-bar mode="indeterminate"
                          *ngIf="isDisabledButtons()">
        </mat-progress-bar>
    </div>
</form>
