@import '~@angular/material/theming';
@import '../../../../theming';

.fly-controlbar-crud {
    margin-top: 20px;
    margin-bottom: 10px;
}

.fly-btn-crud-save-clean {
    background-color: darken($primaryColor, 30%) !important;
}

.fly-btn-crud-save-exit {
    background-color: darken($primaryColor, 15%) !important;
}

.fly-btn-crud-save-clean:disabled {
    background-color: rgba(0, 0, 0, 0.26) !important;
}

.fly-btn-crud-save-exit:disabled {
    background-color: rgba(0, 0, 0, 0.26) !important;
}

.fly-crud-row-header-popup{
    margin-bottom: 20px;
}

.fly-crud-row-header{
    margin-bottom: 20px;
    margin-top: 25px;
}

.cointainer-navbar{
    margin-left: 40px;
}

.fly-crud-space-nav-popup {
    height: 50px;
}

.fly-crud-navbar{
    padding-top: 5px;
    border-top: 2px solid darken($primaryColor, 15%) !important;
}
