<form novalidate #flyForm="ngForm"
      class="fly-form">
    <div *ngIf="!isDefaultValuesAvalilable; else formCrudLoaded">
        Carregando...
    </div>
</form>

<ng-template #formCrudLoaded>
    <div class="row fly-crud-row-header"
         [ngClass]="{'fly-crud-row-header-popup':service.isPopup, 'fly-crud-row-header':!service.isPopup}">
        <div class="col-md-12">
            <h4 class="fly-header">
                <i class="fa fa-wpforms" style="margin-right: 5px"></i>
                <span class="fly-header-effect">
                        {{ header }}
                    </span>

                <button mat-fab color="accent"
                        (click)="service.goToSearch()"
                        class="float-right"
                        type="button"
                        *ngIf="!service.isPopup"
                        tabindex="-1"
                        style="margin-top:-18px">
                    <mat-icon aria-label="Search"
                              fontSet="fa"
                              fontIcon="fa-search"></mat-icon>
                </button>

                <button mat-icon-button
                        (click)="service.closePopup()"
                        class="float-right fly-close-modal"
                        type="button"
                        *ngIf="service.isPopup"
                        tabindex="-1">
                    <i class="fa fa-times fa-2x"></i>
                </button>
            </h4>
        </div>
    </div>
    <ng-content select="[body]">
    </ng-content>

    <div [ngClass]="{'fly-crud-space-nav-popup': service.isPopup}"></div>
    <!--form.form.valid {{ flyForm.form.valid }}

    form.valid {{ flyForm.valid }}-->
    <div class="cmark" #cmark></div>

    <nav [ngClass]="{
            'navbar fixed-bottom navbar-light bg-light fly-crud-navbar': !isMarksInViewPort,
            'fly-crud-row-header':isMarksInViewPort
        }">

        <div [ngClass]="{'cointainer-navbar': !isMarksInViewPort}">

            <div class="row">
                <div class="col-md-12 fly-line-button">


                    <button mat-raised-button
                            (click)="service.$crudSave(false, true)"
                            color="primary"
                            type="button"
                            [disabled]="isDisabledButtons() || !flyForm.form.valid"
                            *ngIf="service.isPopupCrudDetail"
                            class="fly-btn-crud-save-clean">
                        {{ labelSaveButton }} {{ labelSaveAndCleanButton }}
                    </button>

                    <button mat-raised-button
                            (click)="service.$crudSave(true)"
                            color="primary"
                            type="button"
                            [disabled]="isDisabledButtons() || !flyForm.form.valid"
                            *ngIf="service.isPopup"
                            class="fly-btn-crud-save-exit">
                        {{ labelSaveButton }} {{ labelSaveAndCloseButton }}
                    </button>

                    <button mat-raised-button
                            (click)="service.$crudSave()"
                            color="primary"
                            type="submit"
                            [disabled]="isDisabledButtons() || !flyForm.form.valid"
                            *ngIf="!service.isPopup || (!service.isPopupCrudAutoComplete && !(service.isPopupCrudDetail && !service.gridMasterService.masterService.entity.id))">
                        {{ labelSaveButton }}
                    </button>

                    <button mat-raised-button
                            color="accent"
                            (click)="service.clean()"
                            [disabled]="isDisabledButtons()"
                            type="reset">
                        {{ labelResetButton }}
                    </button>

                    <button mat-raised-button
                            (click)="service.$crudRemove()"
                            [disabled]="!service.entity.id || isDisabledButtons()"
                            color="warn"
                            type="button">
                        {{ labelRemoveButton }}
                    </button>
                </div>
            </div>
            <mat-progress-bar mode="indeterminate"
                              *ngIf="isDisabledButtons()">
            </mat-progress-bar>
        </div>
    </nav>
</ng-template>
