@import '~@angular/material/theming';
@import '../../../../theming';

$hr-color-primary: mat-color($candy-app-primary, 500);
$hr-color-primary-light: lighten($hr-color-primary, 30%);

.fly-hr {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.fly-hr-colorgraph {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left , $hr-color-primary-light 0%, $hr-color-primary 50%, $hr-color-primary-light 100%);
    background-image: -o-linear-gradient(to left , $hr-color-primary-light 0%, $hr-color-primary 50%, $hr-color-primary-light 100%);
    background-image: -moz-linear-gradient(to left , $hr-color-primary-light 0%, $hr-color-primary 50%, $hr-color-primary-light 100%);
    background-image: -webkit-linear-gradient(to left , $hr-color-primary-light 0%, $hr-color-primary 50%, $hr-color-primary-light 100%);
    background-image: -ms-linear-gradient(to left , $hr-color-primary-light 0%, $hr-color-primary 50%, $hr-color-primary-light 100%);
    background-image: -webkit-gradient(linear,
        to left bottom,
        to right bottom,
        color-stop(0, $hr-color-primary-light),
        color-stop(0.5, $hr-color-primary),
        color-stop(1.0, $hr-color-primary-light)
    );
}
