<div>
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content>
        {{ data.message }}
        <br><br><br>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button
                color="primary"
                (click)="onCloseConfirm()">
            SIM
        </button>&nbsp;&nbsp;
        <button mat-raised-button
                cdkFocusInitialv
                (click)="onCloseCancel()">
            NÃO
        </button>
    </mat-dialog-actions>
</div>
