.fly-input-checkbox-md-check {
    margin: 0;
    display: block;
    width: 100%;
}

@media screen and (min-width : 768px) {
    .fly-input-checkbox-label {
        height: 22px;
    }
}

.fly-input-checkbox{

}
