.fly-header {
    color: #717171;
    font-size: 20px;

    .mat-icon {
        height: auto;
    }
}

.fly-header-icon {
    line-height: 24px;
    padding: 8px;
    width: 40px;
}

.fly-header-effect {
    position: relative;
    text-decoration: none;
    color: #717171;
}

.fly-header-effect:hover {

}

.fly-header-effect:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #717171;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.fly-header-effect:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.mat-toolbar-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.div-header-hr {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 3px;
    padding: 0;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    color: #FFF !important;
}

label {
    color: #525252;
}

.margin-zero {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.padding-zero {
    padding: 0;
}

.fly-form input:not(:focus).ng-touched.ng-invalid.form-control,
.fly-form select:not(:focus).ng-touched.ng-invalid.form-control,
.fly-form textarea:not(:focus).ng-touched.ng-invalid.form-control {
    border-color: #e9322d !important;
}

.fly-form .has-error label {
    color: #e9322d !important;
}

.fly-form input:focus.ng-touched.ng-invalid.form-control {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

    .mat-raised-button {
        width: 100%;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

pre span {
    white-space: normal;
}

pre {

    .string {
        color: green;
    }

    .number {
        color: darkorange;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: magenta;
    }

    .key {
        color: red;
    }
}
