<div>
    <ng-content select="[header]"></ng-content>

    <p-table
        #flyGridElement
        [value]="service.provider"
        [responsive]="true"
        [selectionMode]="selectionMode"
        [resizableColumns]="true"
        columnResizeMode="expand"
        [(selection)]="service.selectedItem"
        [scrollable]="true"
        [scrollHeight]="gridHeight"
        [loading]="service.isSearching"
    >
        <ng-template pTemplate="caption"
                     *ngIf="!!header">
            {{ header }}
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col style="width: 2.25em"
                     *ngIf="selectionMode==='multiple'">
                <col *ngFor="let col of service.columns"
                     [ngStyle]="col.style">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngIf="selectionMode==='multiple'">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of service.columns"
                    [pSortableColumn]="col.field">
                    <ng-container
                        *ngTemplateOutlet="col.headerTemplate ? col.headerTemplate: flyGridHeaderTemplate">
                    </ng-container>

                    <ng-template #flyGridHeaderTemplate>
                        {{col.header}}
                    </ng-template>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [@row]="rowState">
                <td *ngIf="selectionMode==='multiple'">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of service.columns"
                    [style]="col.style"
                    (dblclick)="dblclickItem(service, rowData)">

                    <ng-container
                        *ngTemplateOutlet="col.cellTemplate ? col.cellTemplate: flyGridCellTemplate;
                        context: {col: col, row: rowData}">
                    </ng-container>

                    <ng-template #flyGridCellTemplate>
                        <label>{{getNestedValue(rowData,col?.field)}}</label>
                    </ng-template>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer"
                     let-columns
                     *ngIf="showFooter">
            <tr>
                <td *ngFor="let col of service.columns">
                    <ng-container
                        *ngTemplateOutlet="col.footerTemplate ? col.footerTemplate: flyGridFooterTemplate">
                    </ng-container>

                    <ng-template #flyGridFooterTemplate>
                        {{col?.footer}}
                    </ng-template>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="service.columns.length"
                    class="fly-grid-any-record"
                    [ngStyle]="{'height': gridHeight}">
                    {{ msgAnyRecord }}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">

            <div class="row margin-zero padding-zero fly-grid-footer-pagination">
                <div class="col-md-9 padding-zero text-left">
                    <button mat-raised-button
                            (click)="service.openPopupCrudForm()"
                            color="primary"
                            type="button"
                            [disabled]="service.isSearching"
                            *ngIf="showAddButton">
                        {{ labelAddButton }}
                    </button>
                    <pagination
                        [totalItems]="service.totalElements"
                        [(ngModel)]="service.filter.page"
                        [itemsPerPage]="service.filter.size"
                        firstText="Primeiro"
                        lastText="Último"
                        nextText="Próximo"
                        previousText="Anterior"
                        [maxSize]="5"
                        class="pagination-md"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        (numPages)="smallnumPages = $event"
                        (click)="search()"
                        [disabled]="service.isSearching"
                        *ngIf="service.totalPages > 1 && showPagination"
                    >
                    </pagination>
                </div>
                <div class="col-md-3 padding-zero float-right text-right"
                     *ngIf="service.totalPages > 1 && showPagination;  else juntOnePageGrid">
                    Página {{ service.filter.page }} / {{ service.totalPages }} - Reg: {{ service.totalElements }}
                </div>
                <ng-template #juntOnePageGrid>
                    <div class="col-md-3 padding-zero float-right text-right">
                        Reg: {{ service.totalElements }}
                    </div>
                </ng-template>
            </div>

            <ng-content select="[footer]"></ng-content>

            <mat-progress-bar mode="indeterminate"
                              *ngIf="service.isSearching && service.showProgressbarGrid !== false">
            </mat-progress-bar>

        </ng-template>

    </p-table>

    <ng-template #flyGridCellButtonTemplate
                 let-col="col"
                 let-row="row">
        <button [ngClass]="['btn', 'btn-sm', col.buttonClass]"
                (click)="col.click(service, row)"
                type="button">

            <i [ngClass]="['fa', col.iconButtonClass]"></i>
        </button>
    </ng-template>

    <ng-template #flyGridCellDateTemplate
                 let-col="col"
                 let-row="row">
        <label>{{getNestedValue(row,col?.field) | flyDatePipe }}</label>
    </ng-template>

</div>
